@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --primary-color:#333;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}

body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
    font-weight: bold;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;

}
h1,
h2{
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
    font-weight: bold;
    
}
img{
    width: 100%;
}
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul{
    display: flex;
}
.navbar a{
    color:#fff;
    padding: 10px;
    margin:0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.showcase{
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
}
.container.flex{
    justify-content: space-between;
    margin: 1rem ;

}
.canvas.flex{
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem ;
    
}

.container{
    max-width: 1100px;
    margin:0 auto;
    overflow: auto;
    padding: 0 40px;
}
.flex{
    display:flex;
    height: 100%;
}

.output.flex{
    justify-content:space-between;
    flex-direction: column;
    

}
.feature.flex{
    justify-content: space-between;
    flex-direction: column;
   
    font-size: 12px;
}
.filter.flex{
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
}
.images.flex{
    justify-content: space-between;
    flex-direction: column;
    
}
.card{
    text-align: center;
    
}
.output.card{
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.card h4{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: bold;
}
img {
    border-radius: 50%;
  }

canvas {
    position: relative;
    border: 2px solid black;
    margin: 10px 25px 0 0;
}

button {
    display: inline-block;
    padding: 10px 30px;
    cursor:pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border: radius 5px;
    margin-top: 15px;
    max-width: 30%;
    max-height: 30%;
    font-weight: bold;
  
  }

 

  #hidden {
    visibility: hidden;
  }


  @media(max-width: 768px)
  {

  }

  @media(max-width: 500px){
      .navbar{
          height: 110px;
      }
      .navbar ul{
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.1);
      }
  }
 